@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap');

body {
    margin: 0;
    padding: 0;
}

body, nav a, footer a {
    font-family: Karla; 
}

nav {
    background: gainsboro;
    display: flex;
    justify-content: right; 
    overflow: hidden;
    height: 70px;
    align-items: center;
    cursor: grab;
    align-items: center;
    padding: 0 20px;
}

nav a {
    font-family: Karla; 
    font-weight: bolder;
    text-decoration: none;
    color: palevioletred;
    font-size: 18px;
}

nav a:hover {
    color: white;
    cursor: grab;
}

nav img {
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

footer {
    margin-top: auto;
    background-color: gainsboro;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-family: Karla; 
    font-weight: bolder;
    color: palevioletred;
    font-size: 18px;
}

footer a:hover {
    color: white;
    cursor: grab;
}

.section-info1 {
    margin: 0;
    padding: 20px;
    height: 120px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgb(216, 200, 205);
    font-family: Lora;

}

.section-info2 {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(216, 200, 205);
    font-family: Lora;
}

.section-info2 img {
    object-fit: cover;
    border-radius: 70px;
    height: 155px;
    width: 150px;
}

hr {
    border-width: 2px;
    border-color: white;
}

.card {
    position: relative;
    overflow: hidden;
    background-color: rgb(216, 200, 205); 
}

.card img {
    width: 150px;
    height: 120px;
    border-radius: 70px;
}

.three-col {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
}

.three-col ul, dl {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 8px grey; 
    outline: 1px solid gainsboro; 
    background-color:gainsboro;
    margin: 0;
    padding: 0;
    height: 350px;
    justify-content: center;
}

.three-col {
    display: flex;
    margin: 5px 0; 
    flex-wrap: wrap;
}

  
.lang_content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    flex-wrap: wrap;
}
  
.lang_content li {
    margin-bottom: 5px;
    display: block;
    flex-wrap: wrap;
}

.leadership_content dl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    flex-wrap: wrap;
}

.leadership_content {
    text-decoration: none;
}

.leadership_content a{
    text-decoration: none;
    color: black;
}

.leadership_content a:hover{
    color: white;
    font-weight: bold;
    cursor: grab;
}
  
.skills_content dd,
.leadership_content dd {
    margin: 0; 
}

.leadership_content dt {
    margin-bottom: 5px;
    display: block;
    flex-wrap: wrap;
}

.skills_content dl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    flex-wrap: wrap;
}
  
.skills_content dt {
    margin-bottom: 5px;
    display: block;
    flex-wrap: wrap;
}

.lang_content:hover,
.leadership_content:hover,
.skills_content:hover {
    transform: translateY(-10px);
}

  
.lang_content,
.leadership_content,
.skills_content {
    display: flex; /* Use flexbox to arrange items */
    flex-direction: column; 
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    flex-wrap: wrap;
}

.one-col {
    flex-wrap: wrap;
    display: block;
    overflow: hidden;
    background-color: rgb(216, 200, 205);
}

form {
    background-color: rgb(216, 200, 205);
    text-align: center;
    height: 350px;
}

form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px; 
  }

  input, textarea {
    margin-bottom: 40px; 
  }

.card-style {
    background-color: rgb(216, 200, 205);
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0px 4px 20px grey; 
    padding: 43px; 
    margin: 20px; 
    max-width: 600px;
    margin: auto; 
    font-weight: bold;
    font-size: 20px

}

.contact-body {
    background-color: rgb(216, 200, 205);
    text-align: left;
    text-align: center;
    font-family: Lora;
}




